<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" />
		<link rel="stylesheet" href="styles.css" />
		<title>Convertisseur de devises</title>
	</head>

	<body>
		<div id="app" v-cloak>
			<header>
				<h1>Taux de conversion</h1>
			</header>
			<main>
				<p v-if="error" class="info-error">Erreur de chargement des données !</p>
				<div id="currencies-container">
					<div id="base-currency-container" :class="{ 'is-loading': isLoading }">
						<label for="base-currency-select">Devise de base</label>
						<select id="base-currency-select" v-model="baseCurrency">
							<option v-for="code in supportedCodes" :key="code[0]" :value="code[0]">{{ code[1] }} - {{ code[0] }}</option>
						</select>
						<p class="number">1</p>
					</div>
					<div id="target-currency-container">
						<label for="target-currency-select">Devise cible</label>
						<select id="target-currency-select" v-model="targetCurrency">
							<option v-for="code in supportedCodes" :key="code[0]" :value="code[0]">{{ code[1] }} - {{ code[0] }}</option>
						</select>
						<p class="number">{{ exchangeRate }}</p>
					</div>
				</div>
			</main>
		</div>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="app.js"></script>
	</body>
</html>
